{% extends 'base.html' %}

{% block head %} 
<title>teste</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1>Tarefa Master</h1>

    <table>
        <tr>
            <th>Tarefa</th>
            <th>Adicionado em</th>
            <th>Ações</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="">Deletar</a><br>
                <a href="">Update</a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}